/*******************/
/**** CSS RESET ****/
/*******************/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/********************************/
/********* DESIGN SYSTEM ********/
/********************************/
/*
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/
html {
  background-color: #a8dadc;
}

body {
  display: block;
  width: 740px;
  height: auto;
  margin: 50px auto;
  border: 10px solid white;
  border-radius: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 343px;
  width: 720px;
  background-image: url("/img/Rotterdam_Skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px 40px 0px 0px;
}

.hero h1 {
  background-color: #457b9d;
  padding: 0px 10px;
  border-radius: 5px;
}

.hero h2 {
  background-color: #1D3557;
  margin-top: 15px;
}

.activities {
  display: flex;
  height: 378px;
  width: 720px;
  flex-direction: column;
}

.guide {
  height: 394;
  width: 720px;
}
